.gcloudignore
.git
.gitignore
#!include:.gitignore

.vscode
deep-mind/boot/state/
deep-mind/boot/blocks/reversible/
deep-mind/compare/state/
deep-mind/compare/blocks/
deep-mind/compare/output.jsonl
deep-mind/compare/reference.jsonl
deep-mind/compare/output.log
