# Check regularly files includes with `gcloud meta list-files-for-upload`

.gcloudignore
.git
#!include:.gitignore

README.md
*.patch
/deep-mind/battlefield/
/deep-mind/boot/contracts*
/deep-mind/boot/genesis*
/deep-mind/boot/snapshots*
/deep-mind/boot/state
/deep-mind/boot/webauthn_signer
/deep-mind/boot/*.ini
/deep-mind/boot/*.json
/deep-mind/boot/*.sh
/deep-mind/boot/*.yaml