.envrc
bios-boot.log
eosc-boot.log
deep-mind.log
deep-mind.dmlog
deep-mind-adhoc.log
deep-mind-adhoc.dmlog
nodeos.log
state/
blocks/reversible/
blocks-*/
snapshot-*
snapshots/
snapshots-*/
/webauthn_keys_db.json